// COLORS
$soft-blue: rgb(83, 104, 223);
$soft-red: rgb(250, 87, 87);
$grayish-blue: rgb(145, 148, 161);
$very-dark-blue: rgb(37, 43, 70);

// TIPOGRAPHY
$font: "Rubik", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 500;

// MEDIA QUERIES
$bp-1200: 75em;
$bp-1100: 68.75em;
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-700: 43.75em;
$bp-600: 37.5em;
$bp-500: 31.25em;
$bp-375: 23.5em;
